// colors used in application
$primary: #009688;
$accent: #94C720;
$warn: #C70D38;
$default-text: #404040;
$table-header: #8D8D8D;

//typography style guide
$body-font: 16px;
$section-title: 24px;
$page-title: 48px;
